@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.link {
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
  color: #40404d;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}
.bgcolor{
  background: #2a41e8;
}
.messageErrorColor{
  color: red;
}